
.knowledge-base__article__content__body__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


.knowledge-base__article__container {
  padding: '10px 10px 10px 60px',
}

.knowledge-base__section-group-container {
  background-color: white;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 12px;
  margin-top: 20px;
  display: flex;
}