.work-calendar-full-grid {
  table-layout: fixed;
  /* height: min-content; */
  border-collapse: separate;

  overflow: scroll;
  /* max-height: 300px; */
  /* height: 300px; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(0, auto)); */
  /* width: 300%; */
}
.work-calendar-full-grid div {
  user-select: none;
}
.work-calendar-full-grid tr:first-child td {
  border-top: 0.2px solid #b7b7b7;
}
.work-calendar-full-grid th {
  border-top: 0.2px solid #b7b7b7;
  border-bottom: 0.2px solid #b7b7b7;
  border-right: 0.2px solid #b7b7b7;
}
.work-calendar-full-grid td {
  border-bottom: 0.2px solid #b7b7b7;
  border-right: 0.2px solid #b7b7b7;
}
.work-calendar-full-grid th:first-child,
.work-calendar-full-grid td:first-child {
  /* Apply a left border on the first <td> or <th> in a row */
  border-left: 0.2px solid #b7b7b7;
}
.work-calendar-full-grid-loading {
  position: relative;
}
.work-calendar-full-grid-loading::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.sticky-right-td {
  position: relative;
}
.sticky-right-td::after {
  content: '';
  display: block;
  height: 100%;
  width: 0.2px;
  top: 0px;
  left: 0px;
  background-color: #b7b7b7;
  position: absolute;
}
.work-calendar-full-wrap::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
  height: 10px;
}
.work-calendar-full-wrap::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #b9b9b9;
  -webkit-box-shadow: 0 0 1px #b9b9b9;
}
.work-calendar-full-wrap::-webkit-scrollbar-track {
  background: #f5f5f5;
}
.work-calendar-full-wrap {
  max-height: 502px;
  /* height: 300px; */

  width: calc(100vw - 100px);
  min-width: 1170px;
  overflow: scroll;
  position: relative;
}
.work-calendar-full-title span {
  color: #ff0000;
}
.work-calendar-full-title {
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 0px;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 58px; */
}
.work-calendar-full {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  overflow: scroll;
  padding: 20px 50px 70px 50px;
}
.work-calendar-full-close {
  width: 20px;
  height: 20px;
  background-image: url(/public/img/modal/close.png);
  position: fixed;
  top: 15px;
  right: 30px;
}
.work-calendar-full-select {
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.work-calendar-full-select-prev {
  outline: none !important;
  border: none !important;
  width: 9px;
  height: 9px;
  background-image: url(/public/img/modal/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg);
}
.work-calendar-full-select-next {
  outline: none !important;
  border: none !important;
  width: 9px;
  height: 9px;
  background-image: url(/public/img/modal/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
}
.work-calendar-full-select-name {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  text-transform: capitalize;
}
.work-calendar-row-top {
  position: relative;
}
.work-calendar-row-top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b7b7b7;
  z-index: 10;
}
.work-calendar-full-cell-small-wrap {
  font-size: 10px;
  /* border: 0.1px solid #b7b7b7; */
  padding: 0;
  margin: 0;
  height: 22px;
  background-color: #fff;
  text-align: center;
}
.work-calendar-full-cell-wrap {
  position: relative;
  /* border: 0.1px solid #b7b7b7; */
  padding: 0;
  margin: 0;
  font-size: 10px;
  height: 44px;
  text-align: center;
}
.work-calendar-full-cell-thin {
  font-size: 10px;
  /* border: 0.1px solid #b7b7b7; */
  height: 40px;
  padding: 0;
  padding-left: 20px;
  font-weight: 500;
}
.work-calendar-full-cell-no-border {
  height: 22px;
  text-align: center;
  font-weight: 500;
}
.work-calendar-full-cell-empty {
  height: 44px;
  text-align: center;
  background-color: rgba(183, 183, 183, 0.3);
}
.work-calendar-full-cell-day-work {
  display: grid;
  height: 44px;
  grid-template-rows: 1fr 1fr;
  background-color: #c9ffcb;
  width: 74px;
}
.work-calendar-full-cell-day-vacation {
  text-align: left;
  padding-top: 6px;
  padding-left: 6px;
  text-transform: uppercase;
  height: 44px;
  background-color: #fcf6b1;
}
.work-calendar-full-cell-day-sick {
  text-align: left;
  padding-top: 6px;
  padding-left: 6px;
  text-transform: uppercase;
  height: 44px;
  background-color: #99e1ff;
}
.work-calendar-full-cell-comand {
  text-align: left;
  padding-top: 6px;
  padding-left: 6px;
  text-transform: uppercase;
  height: 44px;
  background: #d0baff;
}
.work-calendar-full-cell-day-off {
  text-align: left;
  padding-top: 6px;
  padding-left: 6px;
  text-transform: uppercase;
  height: 44px;
  background: #f8bbbb;
  /* color: #fff; */
}
.work-calendar-full-cell-day-work div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.work-calendar-full-cell-day-work div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  border-left: 0.2px solid #b7b7b7;
}
.work-calendar-full-cell-day-work div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-calendar-full-cell-day-work div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  border-top: 0.2px solid #b7b7b7;
  background: #ffffff;
}
.work-calendar-full-cell-day-work div:nth-child(4) {
  background: #e4e4e4;
  border-top: 0.2px solid #b7b7b7;
  border-left: 0.2px solid #b7b7b7;
}
.work-calendar-full-cell-bold {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
}

.work-calendar-full-day-of-week {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;

  color: #a8a8a8;
}
.work-calendar-full-day-of-week--red {
  background: #fc0000;
  color: #fff;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-calendar-full-cell-timetable {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e4e4e4;
  width: 37.44px;
  height: 22px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000 !important;
}
.work-calendar-full-cell-day-work.error div {
  background: #1f1f1f !important;
  color: #fff !important;
}
.work-calendar-full-cell-day-work.error div:nth-child(4) {
  position: relative;
}
.work-calendar-full-cell-day-work.error div:nth-child(4):after {
  content: '';
  position: absolute;
  top: -0.7px;
  left: -0.7px;
  width: 102%;
  height: 0.2px;
  background: #b7b7b7;
  z-index: 1;
}
.work-calendar-full-cell-day-work.error div:nth-child(4):before {
  content: '';
  position: absolute;
  top: -0.7px;
  left: -0.7px;
  width: 1px;
  height: 102%;
  background: #b7b7b7;
  z-index: 1;
}
